@using System.Configuration;
@model  Bidding.Web.Controllers.UserModel
@{ 
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 col-sm-10 col-sm-offset-3 col-md-6 col-md-offset-3">

    @if(!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div><strong>@Model.ErrorMessage </strong></div>
    }
    @using (Html.BeginForm("PostLogin", "Account", FormMethod.Post))
    {
        <div class="control-group">
            <label class="control-label" for="UserName">User Email: </label>
            <div class="controls">@Html.TextBoxFor(m => m.Email)</div>
            <div class="controls">@Html.ValidationMessageFor(model => model.Email)</div>
        </div>

            <div class="control-group">
                <label class="control-label" for="Password">Password: </label>
                <div class="controls">@Html.PasswordFor(m => m.Password)</div>
                <div class="controls">@Html.ValidationMessageFor(model => model.Password)</div>
            </div>
      <br />
            <input type="submit" value="Submit" />
    }
</div>

